## requests 패키지
- 브라우저가 아닌 code로 server에 request를 보냄
- 1. request를 이용
        - 1) API를 이용하는 방법 : json포맷으로 데이터를 받음.(string타입으로 받아서 json object로 parsing)
        - 2) HTML코드를 이용하는 방법 : HTML코드를 string으로 가져와서 특정패턴의 문자열을 가져옴.css 셀렉터로 데이터를 select!!
            (bs4로 parsing)
        
- 2. Selenium을 이용하는 방법 : 브라우저의 자동화된 testing tool인 selenium을 활용하여 직접 브라우저를 띄워서 css 셀렉터로 가져옴.

In [2]:
import requests

In [3]:
from bs4 import BeautifulSoup

In [5]:
import forecastio

- api json을 사용 : 네이버 주식 데이터 크롤링
- api json을 사용, forecastio: dark sky api로 날씨 데이터를 수집
- bs4 : 네이버 실시간 키워드, 다음 실시간 키워드 크롤링
- web file url로 파일을 다운로드 받는 방법

### 1번째 방법

#### 네이버 주식데이터 가져오기
- pc 버전보다 모바일 버전이 좀더 단순하게 되어있음

In [47]:
from pandas.io.json import json_normalize

In [6]:
def make_url(pageSize=10, page=1):
    return "http://m.stock.naver.com/api/json/sise/siseListJson.nhn?\
    menu=market_sum&sosok=0&pageSize=" + str(pageSize) + "&page=" + str(page)
make_url()

'http://m.stock.naver.com/api/json/sise/siseListJson.nhn?    menu=market_sum&sosok=0&pageSize=10&page=1'

In [51]:
# 데이터를 가져와서 pandas의 dataframe으로 만드는 함수
def get_data(url):
    response = requests.get(url) # get방식 데이터 요청
    # json object로 parsing
    json_info = response.json()
    # json의 dict타입 데이터에서 데이터 가져오기
    companys = json_info['result']['itemList']
    return json_normalize(companys)
    
#     df = pd.DataFrame(columns=["종목","시세","전일비","등락율","시가총액","거래량"])
    
#     for company in companys:
#         df.loc[len(df)] = {
#             "종목": company["nm"],
#             "시세": company["nv"],
#             "전일비": company["cv"],
#             "등락율": company["cr"],
#             "시가총액": company["mks"],
#             "거래량": company["aq"],
#         }
#     return df

In [52]:
# url = make_url(1500,1)
# df = get_data(url)
# df.tail()
get_data(url)

,aa,aq,cd,cr,cv,mks,mt,nm,nv,pcv,rf
0,808076,16839154,005930,-1.14,-550,3058808,0,삼성전자,47650,48200,5
1,255711,2936604,000660,0.81,700,633362,0,SK하이닉스,87000,86300,2
2,536055,1825018,068270,6.61,18500,374307,0,셀트리온,298500,280000,2
3,91322,2402876,005935,-2.45,-950,341572,0,삼성전자우,37800,38750,5
4,85210,232924,005490,-1.22,-4500,318232,0,POSCO,365000,369500,5
5,98712,732530,005380,-0.74,-1000,295170,0,현대차,134000,135000,5
6,75421,183984,207940,0.00,0,269953,0,삼성바이오로직스,408000,408000,3
7,99414,264303,051910,0.95,3500,263662,0,LG화학,373500,370000,2
8,47783,391362,028260,-0.41,-500,231422,0,삼성물산,122000,122500,5
9,74164,1356696,105560,-1.79,-1000,229961,0,KB금융,55000,56000,5
10,89612,129890,035420,-2.40,-17000,227442,0,NAVER,690000,707000,5
11,60911,1724223,015760,1.30,450,224687,0,한국전력,35000,34550,2
12,44536,31057,051900,-1.25,-18000,222247,0,LG생활건강,1423000,1441000,5
13,70957,1555197,055550,-2.57,-1200,215761,0,신한지주,45500,46700,5
14,113811,517373,012330,-1.79,-4000,213183,0,현대모비스,219000,223000,5
15,62310,618158,032830,-3.37,-3500,201000,0,삼성생명,100500,104000,5
16,57248,266851,096770,0.70,1500,198339,0,SK이노베이션,214500,213000,2
17,88922,373971,017670,-2.90,-7000,189349,0,SK텔레콤,234500,241500,5
18,60944,226872,034730,-2.00,-5500,189269,0,SK,269000,274500,5
19,79149,254168,090430,-4.05,-13000,180052,0,아모레퍼시픽,308000,321000,5
20,148076,630241,006400,3.74,8500,161940,0,삼성SDI,235500,227000,2
21,180844,894583,018260,-14.00,-32000,152047,0,삼성에스디에스,196500,228500,5
22,91150,988673,066570,-2.88,-2700,148756,0,LG전자,90900,93600,5
23,40992,406326,033780,-1.95,-2000,137979,0,KT&G,100500,102500,5
24,56042,1274928,086790,-2.65,-1200,132107,0,하나금융지주,44000,45200,5
25,31384,972640,000270,-0.16,-50,130527,0,기아차,32200,32250,5
26,33774,449518,003550,-2.60,-2000,129418,0,LG,75000,77000,5
27,27220,181908,251270,-1.97,-3000,126894,0,넷마블,149000,152000,5
28,29784,268774,010950,1.83,2000,125530,0,S-Oil,111500,109500,2
29,46597,128226,011170,0.69,2500,125277,0,롯데케미칼,365500,363000,2
...,...,...,...,...,...,...,...,...,...,...,...
1428,55,4138,001527,0.38,50,41,0,동양2우B,13300,13250,2
1429,7,730,139240,-0.71,-70,41,0,TIGER 200 철강소재,9735,9805,5
1430,4,1015,00781K,-0.99,-50,39,0,코리아써키트2우B,4980,5030,5
1431,267,28145,138920,-1.71,-165,38,0,KODEX 콩선물(H),9490,9655,5
1432,43,3528,253160,0.72,90,38,0,ARIRANG 200선물인버스2X,12515,12425,2
1433,0,53,139310,-0.96,-60,37,0,TIGER 금속선물(H),6220,6280,5
1434,10,813,271050,-0.52,-70,37,0,KODEX WTI원유선물인버스(H),13330,13400,5
1435,181,15542,008355,2.18,250,36,0,남선알미우,11700,11450,2
1436,179,60488,140710,-1.82,-55,36,0,KODEX 운송,2970,3025,5
1437,136,6270,000227,2.84,600,36,0,유유제약2우B,21700,21100,2
1438,8,424,000325,-0.26,-50,36,0,노루홀딩스우,19200,19250,5
1439,21,5274,002785,2.24,90,35,0,진흥기업우B,4100,4010,2
1440,0,137,227550,-0.62,-35,33,0,TIGER 200 산업재,5570,5605,5
1441,109,9790,004989,2.73,300,32,0,성신양회3우B,11300,11000,2
1442,10,819,157510,-0.65,-80,32,0,TIGER 자동차,12250,12330,5
1443,237,24092,295880,-1.16,-115,29,0,ARIRANG 200퀄리티,9770,9885,5
1444,0,19,140570,-1.17,-115,29,0,KBSTAR 수출주,9735,9850,5
1445,75,2328,001529,0.63,200,29,0,동양3우B,32200,32000,2
1446,417,43082,295840,-1.28,-125,29,0,ARIRANG 200밸류,9615,9740,5
1447,0,8,287320,-0.59,-60,28,0,KBSTAR 200산업재,10110,10170,5
1448,83,9079,287310,-0.81,-75,28,0,KBSTAR 200경기소비재,9210,9285,5
1449,32,3700,002787,0.00,0,26,0,진흥기업2우B,8890,8890,3
1450,6,653,285020,-0.48,-45,24,0,KBSTAR 200철강소재,9310,9355,5
1451,0,37,140580,-0.60,-70,23,0,KBSTAR 우량업종,11580,11650,5
1452,0,58,285010,0.15,15,22,0,KBSTAR 200중공업,10095,10080,2
1453,79,8033,284990,-0.10,-10,22,0,KBSTAR 200에너지화학,9875,9885,5
1454,2,225,284980,-1.78,-175,21,0,KBSTAR 200금융,9680,9855,5
1455,0,50,295820,-0.80,-80,15,0,ARIRANG 200동일가중,9940,10020,5
1456,280,28489,295860,-1.11,-110,15,0,ARIRANG 200모멘텀,9770,9880,5
1457,278,28667,295890,-1.23,-120,14,0,ARIRANG 200로우볼,9665,9785,5

In [ ]:
# 데이터를 가져와서 pandas의 dataframe으로 만드는 함수
def get_data(url):
    response = requests.get(url) # get방식 데이터 요청
    # json object로 parsing
    json_info = response.json()
    # json의 dict타입 데이터에서 데이터 가져오기
    companys = json_info['result']['itemList']
    
    df = pd.DataFrame(columns=["종목","시세","전일비","등락율","시가총액","거래량"])
    
    for company in companys:
        df.loc[len(df)] = {
            "종목": company["nm"],
            "시세": company["nv"],
            "전일비": company["cv"],
            "등락율": company["cr"],
            "시가총액": company["mks"],
            "거래량": company["aq"],
        }
    return df

### dark sky api
- 위도와 경도를 입력하면 날씨정보를 보내주는 api

In [20]:
FORECAST_TOKEN = "1da567ab436e650c7af58441bd4bdbae"

In [27]:
def forecast(lat, lng):
    url = "https://api.darksky.net/forecast/{}/{},{}".format(FORECAST_TOKEN, lat, lng)
    response = requests.get(url)
    json_info = response.json()
    return json_info['timezone'], json_info['hourly']['summary']

In [28]:
lat = 37.512
lng = 126.954
forecast(lat, lng)

('Asia/Seoul', 'Mostly cloudy throughout the day.')

### forecastio를 이용하여 날씨 데이터 가져오기

In [29]:
def forecast2(lat, lng):
    forecast = forecastio.load_forecast(FORECAST_TOKEN, lat, lng) # forecastio.load_forecast의 객체 생성
    byHourly = forecast.hourly()
    return byHourly.summary

In [30]:
lat = 37.512
lng = 126.954
forecast2(lat, lng)

'Mostly cloudy throughout the day.'

## 2번째 방법

### bs4
- 네이버 키워드 랭킹 데이터 크롤링
- 다음 키워드 랭킹 데이터 크롤링

In [80]:
def naver():
    df = pd.DataFrame(columns=["rank","keyword"])
    
    response = requests.get("https://www.naver.com/")
    
    dom = BeautifulSoup(response.content, "html.parser") #encoding값이 utf8이 아니면 BeautifulSoup의 encoding argument 설정해줘야 한다. 
    # select : 여러개의 html 엘리먼트를 셀렉팅할때 사용. 결과로 리스트 데이터를 리턴
    # select_one: 하나의 html 엘리먼트를 셀렉팅할때 사용. 결과로 문자열 데이터를 리턴
    keywords = dom.select(".ah_roll_area > .ah_l > .ah_item")
    
    for keyword in keywords:
        df.loc[len(df)] = {
            "rank" : keyword.select_one(".ah_r").text, #해당 엘리먼트 안의 text 데이터를 뽑는다.
            "keyword" : keyword.select_one(".ah_k").text,
        }
    return df
    
naver_df = naver()
naver_df["keyword"]

0          이집트 우루과이
1              뮤직뱅크
2             포항 약국
3              블랙핑크
4              광주날씨
5     러시아 사우디 하이라이트
6            모로코 이란
7               민갑룡
8               최원명
9                쌈디
10              강혁민
11               살라
12              박기량
13              심영은
14         포르투갈 스페인
15           프로듀스48
16              ksl
17              배용제
18             경찰청장
19            국가장학금
Name: keyword, dtype: object

In [40]:
import time
ls = []
for idx in range(3):
    print(idx)
    ls.append(naver())
    time.sleep(5)

0
1
2

In [53]:
# 다음 실시간 이슈 검색어 10개 수집
# 네이버 20개의 데이터와 다음 10개 데이터에서 중복되는 데이터 출력

In [75]:
def daum2():
    df = pd.DataFrame()
    rank = []
    keywords = []
    response = requests.get("https://www.daum.net")
    dom = BeautifulSoup(response.content, "html.parser")
    
    keywords = dom.select(".realtime_part > .list_hotissue.issue_row > li")
    rank = [keyword.select_one(".ir_wa").text[:-1] for keyword in keywords]
    keywords = [keyword.select_one(".link_issue").text for keyword in keywords]
        
    df["rank"] = rank
    df["keywords"] = keywords
    return df

daum_df = daum2()
daum_df["keywords"]

0       민갑룡
1      경찰청장
2     국가장학금
3    한국장학재단
4       이찬오
5       조현배
6      블랙핑크
7       김무성
8       안희정
9       심영은
Name: keywords, dtype: object

In [81]:
# naver vs daum 비교

result = [keyword for keyword in naver_df["keyword"] if daum_df["keywords"].str.contains(keyword).any()]
result

['블랙핑크', '민갑룡', '심영은', '경찰청장', '국가장학금']

#### file download : requests
- file의 url을 받아서 해당 url의 file을 다운로드하는 방법입니다.

In [82]:
# youtube 영상 다운로드 - bitly로 url길이 단출
url = "https://bit.ly/2JKy2nD"
title = "apple.mp4"

In [87]:
def download(title, download_link):
    response = requests.get(download_link, stream=True) # stream = True를 해야 영상(file 등)을 다운받을 수 있음.
    file_size = 0
    with open(title, "wb") as f:
        for chunk in response.iter_content(chunk_size=1024): # byte
            if chunk:
                file_size += 1024
                f.write(chunk)
    return file_size

In [89]:
# youtube 영상 다운로드 - bitly로 url길이 단출
url = "https://bit.ly/2JKy2nD"
title = "apple.mp4"
file_size = download(title, url)

In [90]:
str(round(file_size/1024/1024,2)) + "Mb"

'4.76Mb'

#### 데이터의 크기
- bit : 0 or 1
- byte : 8 bit
- 1kbyte : 1024byte
- 1Mbyte : 1024kbyte