### migration
- import package
- mysql -> mongodb
    1. connect mysql
    2. dataframe(world.country)
    3. connect mongodb
    4. parsing (dataframe -> list(dict, dict, ....)
    5. insert

- mongodb -> mysql
    1. connect mongodb
    2. dataframe(crawling.zigbang) + prejection으로 filtering
    3. connect mysql
    4. insert (한글데이터는 Encoding설정이 utf8이어야 합니다.)
    
- ```mysql - dataframe - mongodb```

In [1]:
# install package
import MySQLdb, pymongo
from sqlalchemy import create_engine

##### mysql -> mongodb

In [2]:
# connect mysql
db = MySQLdb.connect(
    "13.125.237.246",
    "root",
    "dss8",
    "world",
    charset='utf8'
)
db

In [3]:
# get world country datas
query = """
    select *
    from country
"""

country_df = pd.read_sql(query, db)
country_df.tail()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [4]:
# connect mongodb
client = pymongo.MongoClient("mongodb://13.125.237.246:27017")
collection = client.world.country
collection

Collection(Database(MongoClient(host=['13.125.237.246:27017'], document_class=dict, tz_aware=False, connect=True), 'world'), 'country')

In [5]:
# parsing dataframe to list(dict, dict, .......)
datas = country_df.to_dict("records") # records : {column : value}형태
len(datas)

239

In [6]:
datas[:2]

[{'Code': 'ABW',
  'Name': 'Aruba',
  'Continent': 'North America',
  'Region': 'Caribbean',
  'SurfaceArea': 193.0,
  'IndepYear': nan,
  'Population': 103000,
  'LifeExpectancy': 78.4,
  'GNP': 828.0,
  'GNPOld': 793.0,
  'LocalName': 'Aruba',
  'GovernmentForm': 'Nonmetropolitan Territory of The Netherlands',
  'HeadOfState': 'Beatrix',
  'Capital': 129.0,
  'Code2': 'AW'},
 {'Code': 'AFG',
  'Name': 'Afghanistan',
  'Continent': 'Asia',
  'Region': 'Southern and Central Asia',
  'SurfaceArea': 652090.0,
  'IndepYear': 1919.0,
  'Population': 22720000,
  'LifeExpectancy': 45.9,
  'GNP': 5976.0,
  'GNPOld': nan,
  'LocalName': 'Afganistan/Afqanestan',
  'GovernmentForm': 'Islamic Emirate',
  'HeadOfState': 'Mohammad Omar',
  'Capital': 1.0,
  'Code2': 'AF'}]

In [7]:
result = collection.insert_many(datas)
result

In [9]:
len(result.inserted_ids)

239

In [10]:
# pymongo data 확인
documents = collection.find()
df = pd.DataFrame(list(documents))
df.tail()

,Capital,Code,Code2,Continent,GNP,GNPOld,GovernmentForm,HeadOfState,IndepYear,LifeExpectancy,LocalName,Name,Population,Region,SurfaceArea,_id
234,1780.0,YEM,YE,Asia,6041.0,5729.0,Republic,Ali Abdallah Salih,1918.0,59.8,Al-Yaman,Yemen,18112000,Middle East,527968.0,5b59769933868e3eb4acc858
235,1792.0,YUG,YU,Europe,17000.0,NaN,Federal Republic,Vojislav Koštunica,1918.0,72.4,Jugoslavija,Yugoslavia,10640000,Southern Europe,102173.0,5b59769933868e3eb4acc859
236,716.0,ZAF,ZA,Africa,116729.0,129092.0,Republic,Thabo Mbeki,1910.0,51.1,South Africa,South Africa,40377000,Southern Africa,1221037.0,5b59769933868e3eb4acc85a
237,3162.0,ZMB,ZM,Africa,3377.0,3922.0,Republic,Frederick Chiluba,1964.0,37.2,Zambia,Zambia,9169000,Eastern Africa,752618.0,5b59769933868e3eb4acc85b
238,4068.0,ZWE,ZW,Africa,5951.0,8670.0,Republic,Robert G. Mugabe,1980.0,37.8,Zimbabwe,Zimbabwe,11669000,Eastern Africa,390757.0,5b59769933868e3eb4acc85c

### mongodb -> mysql

In [11]:
# connect mongodb
client

MongoClient(host=['13.125.237.246:27017'], document_class=dict, tz_aware=False, connect=True)

In [12]:
collection = client.crawling.zigbang
collection

Collection(Database(MongoClient(host=['13.125.237.246:27017'], document_class=dict, tz_aware=False, connect=True), 'crawling'), 'zigbang')

In [13]:
# dataframe으로 만들기1
documents = collection.find()
zigbang_df = pd.DataFrame(list(documents))
zigbang_df.tail()

,_floor,_id,address1,address2,address3,agent_address1,agent_comment,agent_email,agent_lat,agent_lng,...,updated_at2,user_email,user_has_no_penalty,user_has_penalty,user_intro,user_mobile,user_name,user_no,user_phone,view_count
55,3층,5b596ef933868e3478b091f9,서울시 동작구 상도동,126-45,None,"서울특별시 동작구 상도로15길 112, 101호(상도동)","✔허위매물없는 1억원 책임보헙 가입 되있는 안전한 부동산\n\n✔ 전화,문자,카톡 ...",elf2493@hanmail.net,37.504440,126.936951,...,2018-07-26,jilstt@naver.com,True,False,"동작구 7호선, 1호선 풀옵션 원룸, 투룸 최다보유 우주부동산입니다. 합리적이고 알...",0507-1280-3389,중개보조원 최재열,597303,0507-1280-3389,5
56,3층,5b596ef933868e3478b091fa,서울시 관악구 봉천동,41-369,None,서울특별시 관악구 관악로17길 25,"반갑습니다.\n15년 전통의 예림공인중개사무소 임수진 과장입니다.\n2,7호선의 모...",jaesung0509@naver.com,37.480698,126.950256,...,2018-07-24,jaesung0509@naver.com,True,False,,0507-1280-4562,중개보조원 임수진,3712773,0507-1280-4562,72
57,3층,5b596ef933868e3478b091fb,서울시 관악구 봉천동,876-11,None,서울시 관악구 쑥고개로 45,24시문의가능.,yhcymj@naver.com,37.479528,126.941621,...,2018-07-25,yhcymj@naver.com,True,False,,0507-1281-3596,중개보조원 김대환,4103322,0507-1281-3596,82
58,1층,5b596ef933868e3478b091fc,서울시 관악구 봉천동,941-12,None,서울특별시 관악구 봉천동 933-20,,nadoyo2@naver.com,37.484135,126.940536,...,2018-07-17,nadoyo2@naver.com,True,False,,0507-1280-2740,중개보조원 윤명철,1434787,0507-1280-2740,219
59,2층,5b596ef933868e3478b091fd,서울시 관악구 봉천동,1603-18,None,서울특별시 관악구 남부순환로167길 14,\n☎허위매물 보고 시간낭비는 이제그만!\n☎전화 한통이면 끝!! 빠른문의 부탁드립...,nam76769470@gmail.com,37.484226,126.923531,...,2018-07-25,nam76769470@gmail.com,True,False,,0507-1280-5213,중개보조원 안진수,3383939,0507-1280-5213,135

In [14]:
# dataframe으로 만들기2 : projection으로 원하는 컬럼만 가져오기
documents = collection.find({},{"_id":False, "deposit":True, "rent":True, "options":True, "view_count":True, "size":True})
zigbang_df = pd.DataFrame(list(documents))
zigbang_df.tail()

,deposit,options,rent,size,view_count
55,10000,"에어컨,냉장고,세탁기,인덕션,전자레인지,책상,책장,옷장,신발장,싱크대",0,6.5,5
56,10000,"에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대",0,8.0,72
57,100,"에어컨,냉장고,세탁기,인덕션,전자레인지,책상,책장,침대,옷장,신발장,싱크대",27,6.0,82
58,6500,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",0,8.0,219
59,100,"에어컨,냉장고,세탁기,가스레인지,전자레인지,책상,책장,침대,옷장,신발장,싱크대",26,5.0,135

In [15]:
sort_df = zigbang_df[['deposit','rent','size','options','view_count']]
sort_df.tail()

,deposit,rent,size,options,view_count
55,10000,0,6.5,"에어컨,냉장고,세탁기,인덕션,전자레인지,책상,책장,옷장,신발장,싱크대",5
56,10000,0,8.0,"에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대",72
57,100,27,6.0,"에어컨,냉장고,세탁기,인덕션,전자레인지,책상,책장,침대,옷장,신발장,싱크대",82
58,6500,0,8.0,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",219
59,100,26,5.0,"에어컨,냉장고,세탁기,가스레인지,전자레인지,책상,책장,침대,옷장,신발장,싱크대",135

In [17]:
# insert
# db의 인코딩이 utf8이어야 한글데이터를 넣을 수 있습니다.
engine = create_engine("mysql://root:dss8@13.125.237.246/test?charset=utf8")
engine

Engine(mysql://root:***@13.125.237.246/test?charset=utf8)

In [18]:
sort_df.to_sql("zigbang", engine, if_exists="replace")

In [19]:
# check datas
db = MySQLdb.connect(
    "13.125.237.246",
    "root",
    "dss8",
    "test",
    charset='utf8'
)
db

In [20]:
query = """
    select *
    from zigbang
"""
zigbang_df = pd.read_sql(query, db)
zigbang_df.tail()

,index,deposit,rent,size,options,view_count
55,55,10000,0,6.5,"에어컨,냉장고,세탁기,인덕션,전자레인지,책상,책장,옷장,신발장,싱크대",5
56,56,10000,0,8.0,"에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대",72
57,57,100,27,6.0,"에어컨,냉장고,세탁기,인덕션,전자레인지,책상,책장,침대,옷장,신발장,싱크대",82
58,58,6500,0,8.0,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",219
59,59,100,26,5.0,"에어컨,냉장고,세탁기,가스레인지,전자레인지,책상,책장,침대,옷장,신발장,싱크대",135

In [21]:
# delete table
drop_query = """
    drop table zigbang
"""
curs = db.cursor()
curs.execute(drop_query)

0

In [22]:
db.commit()