#### 1. mysql -> mongodb

In [1]:
import MySQLdb, pymongo
from sqlalchemy import create_engine

In [2]:
db = MySQLdb.Connect(
    "13.125.237.246",
    "root",
    "dss8",
    "world",
    charset="utf8"
)
db

In [3]:
query = """
    select * 
    from country
"""
country_df = pd.read_sql(query, db)
country_df.tail()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [4]:
client = pymongo.MongoClient("mongodb://13.125.237.246:27017")
collection = client.world.country
collection

Collection(Database(MongoClient(host=['13.125.237.246:27017'], document_class=dict, tz_aware=False, connect=True), 'world'), 'country')

In [5]:
datas = country_df.to_dict("records")
len(datas)

239

In [6]:
result = collection.insert_many(datas)
result

In [7]:
len(result.inserted_ids)

239

In [8]:
documents = collection.find()
df = pd.DataFrame(list(documents))
df.tail()

,Capital,Code,Code2,Continent,GNP,GNPOld,GovernmentForm,HeadOfState,IndepYear,LifeExpectancy,LocalName,Name,Population,Region,SurfaceArea,_id
234,1780.0,YEM,YE,Asia,6041.0,5729.0,Republic,Ali Abdallah Salih,1918.0,59.8,Al-Yaman,Yemen,18112000,Middle East,527968.0,5b5992a233868e42d8fbff26
235,1792.0,YUG,YU,Europe,17000.0,NaN,Federal Republic,Vojislav Koštunica,1918.0,72.4,Jugoslavija,Yugoslavia,10640000,Southern Europe,102173.0,5b5992a233868e42d8fbff27
236,716.0,ZAF,ZA,Africa,116729.0,129092.0,Republic,Thabo Mbeki,1910.0,51.1,South Africa,South Africa,40377000,Southern Africa,1221037.0,5b5992a233868e42d8fbff28
237,3162.0,ZMB,ZM,Africa,3377.0,3922.0,Republic,Frederick Chiluba,1964.0,37.2,Zambia,Zambia,9169000,Eastern Africa,752618.0,5b5992a233868e42d8fbff29
238,4068.0,ZWE,ZW,Africa,5951.0,8670.0,Republic,Robert G. Mugabe,1980.0,37.8,Zimbabwe,Zimbabwe,11669000,Eastern Africa,390757.0,5b5992a233868e42d8fbff2a

### mongodb -> mysql

In [9]:
client

MongoClient(host=['13.125.237.246:27017'], document_class=dict, tz_aware=False, connect=True)

In [10]:
collection = client.zigbang.onsu
collection

Collection(Database(MongoClient(host=['13.125.237.246:27017'], document_class=dict, tz_aware=False, connect=True), 'zigbang'), 'onsu')

In [11]:
documents = collection.find()
documents

In [12]:
df = pd.DataFrame(list(documents))
df.tail()

,_floor,_id,address1,address2,address3,agent_address1,agent_comment,agent_email,agent_lat,agent_lng,...,updated_at2,user_email,user_has_no_penalty,user_has_penalty,user_intro,user_mobile,user_name,user_no,user_phone,view_count
55,2층,5b598d0233868e37b02e2038,경기도 부천시 괴안동,179-9,None,인천광역시 부평구 장제로 52번길 26,♣ 저희가 직접 찍은 매물들로 100% 실매물입니다\n\n♣ 허위매물 없는 실제매물...,jys2156@nate.com,37.489811,126.731171,...,2018-07-25,jys2156@nate.com,True,False,,0507-1280-2321,중개보조원 김인우,13683,0507-1280-2321,14
56,6층,5b598d0233868e37b02e2039,경기도 부천시 괴안동,130-98,None,경기도 부천시 역곡동 76-6,,jsjw70@hanmail.net,37.486563,126.811177,...,2018-07-21,jsjw70@hanmail.net,True,False,,0507-1281-9909,대표공인중개사 이경숙,187595,0507-1281-9909,52
57,3층,5b598d0233868e37b02e203a,경기도 부천시 역곡동,245-10,None,경기도 부천시 역곡동 76-6,,jsjw70@hanmail.net,37.486563,126.811177,...,2018-07-09,jsjw70@hanmail.net,True,False,,0507-1281-9909,대표공인중개사 이경숙,187595,0507-1281-9909,267
58,4층,5b598d0233868e37b02e203b,서울시 구로구 온수동,47-1,None,서울특별시 구로구 서해안로26길 17,★우리부동산은 오류동역에 위치한 중개사무소로 다양한 물건을 확보하고 있어요★\n\n...,k96302999@naver.com,37.491978,126.842552,...,2018-07-09,juhwan299@nate.com,True,False,안녕하세요! 오류동역2번출구에 위치한 우리공인중개사 사무소입니다~~\n\n오류동 최...,0507-1282-7366,중개보조원 김주환,2007460,0507-1282-7366,475
59,5층,5b598d0233868e37b02e203c,서울시 구로구 항동,16-9,None,서울특별시 구로구 온수동 23-26,,j0793@hanmail.net,37.492191,126.821838,...,2018-07-09,j0793@hanmail.net,True,False,,0507-1281-9750,소속공인중개사 정현,1373368,0507-1281-9750,171

In [13]:
documents2 = collection.find({},{"_id":False, "_floor":True, "size":True, "deposit":True, "rent":True})
documents2

In [14]:
df2 = pd.DataFrame(list(documents2))
df2.tail()

   _floor  deposit  rent  size
55     2층     3000    80  28.0
56     6층      500    45   8.0
57     3층      500    40   7.0
58     4층     2000    30   7.0
59     5층    22000     0  20.0

In [15]:
engine = create_engine("mysql://root:dss8@13.125.237.246/test?charset=utf8")
engine

Engine(mysql://root:***@13.125.237.246/test?charset=utf8)

In [16]:
df2.to_sql("onsu", engine, if_exists="replace")

In [17]:
db = MySQLdb.connect(
    "13.125.237.246",
    "root",
    "dss8",
    "test",
    charset='utf8'
)
db

In [18]:
query = """
    select *
    from onsu
"""
onsu_df = pd.read_sql(query, db)
onsu_df.tail()

    index _floor  deposit  rent  size
55     55     2층     3000    80  28.0
56     56     6층      500    45   8.0
57     57     3층      500    40   7.0
58     58     4층     2000    30   7.0
59     59     5층    22000     0  20.0