### 온수동 주변 매물확인해보자

In [1]:
import pymongo, requests

In [2]:
client = pymongo.MongoClient("mongodb://13.125.237.246:27017")
client

MongoClient(host=['13.125.237.246:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
url = "https://api.zigbang.com/v3/items?detail=true&item_ids=[12061465,12089516,12094787,12274719,12063717,11417937,12262949,12231696,12130348,12273053,12149204,12261851,12273037,12151054,12260719,12229421,12261664,12072783,12273021,12088600,12143407,11684988,12143437,12089014,12089602,12177568,12201979,12205350,12187374,12066729,12245246,12273187,12197533,11231778,12229145,10595524,11899704,12211795,12061416,12202044,12171055,12009868,12256030,11832031,12200786,12055392,12265747,12140689,12091910,12157789,12045622,12273115,12255346,11643177,12221060,12263899,12232702,12124998,12114653,12114825]"

In [6]:
response = requests.get(url)
response

In [7]:
onsu_dict = response.json().get("items")
len(onsu_dict)

60

In [8]:
items = [item['item'] for item in onsu_dict]
len(items)

60

In [9]:
items[0]

{'id': 12061465,
 'images': [{'index': 0,
   'count': 1,
   'url': 'https://ic.zigbang.com/ic/users/3436504/photos/uploads/b2e7379ccf7904682d3289fc51c8aa7d1f213a26.148726.JPG'},
  {'index': 1,
   'count': 2,
   'url': 'https://ic.zigbang.com/ic/users/3436504/photos/uploads/56608ad6476a82a05bb13f18da60fb3b88720d51.94412.JPG'},
  {'index': 2,
   'count': 3,
   'url': 'https://ic.zigbang.com/ic/users/3436504/photos/uploads/473f22f05d9803bf8d0488b15600ea44433084c9.97144.JPG'},
  {'index': 3,
   'count': 4,
   'url': 'https://ic.zigbang.com/ic/users/3436504/photos/uploads/3502345d4ce2ee5234bbe1fc2c6c2c72d361bd66.107920.JPG'},
  {'index': 4,
   'count': 5,
   'url': 'https://ic.zigbang.com/ic/users/3436504/photos/uploads/4c863f44726c0b16146470d65aa2ede49b59aa12.121688.JPG'},
  {'index': 5,
   'count': 6,
   'url': 'https://ic.zigbang.com/ic/users/3436504/photos/uploads/7d7d15f3ec338b18065bd4c0f3dcd7b7099a04e9.160716.JPG'}],
 'is_realestate': True,
 'is_direct': False,
 'is_room': False,
 'is_type_room': False,
 'rent': 0,
 'deposit': 16000,
 'is_deposit_only': True,
 'floor': '2층',
 '_floor': '2층',
 'floor_all': '5층',
 'local1': '서울시',
 'local2': '구로구',
 'local3': '온수동',
 'title': '1.7호선 온수역 역세권 금방 나가는 2룸 신축 첫입주 입니다.',
 'room_type': '투룸',
 'room_type_code': '04',
 'building_type': '다세대건물',
 'room_gubun_code': '01',
 'status': '광고중',
 'is_status_open': True,
 'is_status_close': False,
 'view_count': 520,
 'updated_at': '23일 전',
 'updated_at2': '2018-07-03',
 'read_updated_at': '2001-01-01',
 'size_m2': 38.02,
 'size': 11.5,
 'size_m2_contract': '-',
 'size_contract': 0,
 'address1': '서울시 구로구 온수동',
 'near_subways': '온수역(1호선,7호선), 역곡역(1호선), 까치울역(7호선)',
 'random_location': '37.49483524649195,126.8179181519341',
 'options': '옷장,신발장,싱크대',
 'manage_cost': '3만원',
 'manage_cost_inc': '-',
 'parking': '가능',
 'elevator': '있음',
 'movein_date': '즉시입주',
 'description': '-신축 첫 입주 입니다. \n\n-전세대출가능하며 전입신고가능한 안전한 매물. \n\n-온수역 도보5분거리. 주변에 편의시설 Good \n\n-안전한 대로변에 위치해있어 여성분들이 선호 \n\n-깨끗하고 신혼부부 강추!!  \n\n-전세시세는 층수나 평형에따라 다름\n\n-솔직/평가: 역세권 가성비 좋은 전세매물이라 생각됨.\n',
 'description_og': '-신축 첫 입주 입니다. \n\n-전세대출가능하며 전입신고가능한 안전한 매물. \n\n-온수역 도보5분거리. 주변에 편의시설 Good \n\n-안전한 대로변에 위치해있어 여성분들이 선호 \n\n-깨끗하고 신혼부부 강추!!  \n\n-전세시세는 층수나 평형에따라 다름\n\n-솔직/평가: 역세권 가성비 좋은 전세매물이라 생각됨.\n',
 'pets_text': '확인필요',
 'loan_text': '확인필요',
 'room_direction_text': '확인필요',
 'is_owner': False,
 'images_thumbnail': '/users/3436504/photos/uploads/b2e7379ccf7904682d3289fc51c8aa7d1f213a26.148726.JPG',
 'is_zzim': False,
 'secret_memo': None,
 'user_no': 3436504,
 'user_has_penalty': False,
 'user_has_no_penalty': True,
 'user_name': '중개보조원 박선민',
 'user_phone': '0507-1280-1244',
 'original_user_phone': '010-2787-0286',
 'user_mobile': '0507-1280-1244',
 'user_email': 'veneco@naver.com',
 'user_intro': '',
 'agent_name': '한양공인중개사(홍춘유)',
 'agent_no': 38411,
 'agent_phone': '02-2060-8939',
 'agent_mobile': '0507-1281-3576',
 'agent_email': 'veneco@naver.com',
 'agent_local1': '서울시',
 'agent_local2': '구로구',
 'agent_address1': '서울특별시 구로구 개봉로23가길 10 104호',
 'agent_lng': 126.85687255859402,
 'agent_lat': 37.4953193664551,
 'building': None,
 'contract': '서울특별시',
 'bjd_code': '1153011000',
 'bonbun_code': '76',
 'bubun_code': '2',
 'address2': '76-2',
 'address3': None,
 'is_premium': True,
 'is_premium2': True,
 'is_homepage': False,
 'profile_url': None,
 'agent_comment': '♣ 내집 구한다는 마음으로 성심/성의를 다하겠습니다. \n\n♣ 허위매물 없는 실제방임을 약속드립니다. \n\n♣ 정직한 권리분석으로 안전한 입주 도와드리겠습니다. \n\n♣ 현 매물외 다양한 매물 보유하고 있습니다. 연락주세요 ',
 'premium_items': []}

In [10]:
collection = client.zigbang.onsu
result_onsu = collection.insert_many(items)
result_onsu

In [12]:
result_onsu.inserted_ids

[ObjectId('5b598d0233868e37b02e2001'),
 ObjectId('5b598d0233868e37b02e2002'),
 ObjectId('5b598d0233868e37b02e2003'),
 ObjectId('5b598d0233868e37b02e2004'),
 ObjectId('5b598d0233868e37b02e2005'),
 ObjectId('5b598d0233868e37b02e2006'),
 ObjectId('5b598d0233868e37b02e2007'),
 ObjectId('5b598d0233868e37b02e2008'),
 ObjectId('5b598d0233868e37b02e2009'),
 ObjectId('5b598d0233868e37b02e200a'),
 ObjectId('5b598d0233868e37b02e200b'),
 ObjectId('5b598d0233868e37b02e200c'),
 ObjectId('5b598d0233868e37b02e200d'),
 ObjectId('5b598d0233868e37b02e200e'),
 ObjectId('5b598d0233868e37b02e200f'),
 ObjectId('5b598d0233868e37b02e2010'),
 ObjectId('5b598d0233868e37b02e2011'),
 ObjectId('5b598d0233868e37b02e2012'),
 ObjectId('5b598d0233868e37b02e2013'),
 ObjectId('5b598d0233868e37b02e2014'),
 ObjectId('5b598d0233868e37b02e2015'),
 ObjectId('5b598d0233868e37b02e2016'),
 ObjectId('5b598d0233868e37b02e2017'),
 ObjectId('5b598d0233868e37b02e2018'),
 ObjectId('5b598d0233868e37b02e2019'),
 ObjectId('5b598d0233868e37b02e201a'),
 ObjectId('5b598d0233868e37b02e201b'),
 ObjectId('5b598d0233868e37b02e201c'),
 ObjectId('5b598d0233868e37b02e201d'),
 ObjectId('5b598d0233868e37b02e201e'),
 ObjectId('5b598d0233868e37b02e201f'),
 ObjectId('5b598d0233868e37b02e2020'),
 ObjectId('5b598d0233868e37b02e2021'),
 ObjectId('5b598d0233868e37b02e2022'),
 ObjectId('5b598d0233868e37b02e2023'),
 ObjectId('5b598d0233868e37b02e2024'),
 ObjectId('5b598d0233868e37b02e2025'),
 ObjectId('5b598d0233868e37b02e2026'),
 ObjectId('5b598d0233868e37b02e2027'),
 ObjectId('5b598d0233868e37b02e2028'),
 ObjectId('5b598d0233868e37b02e2029'),
 ObjectId('5b598d0233868e37b02e202a'),
 ObjectId('5b598d0233868e37b02e202b'),
 ObjectId('5b598d0233868e37b02e202c'),
 ObjectId('5b598d0233868e37b02e202d'),
 ObjectId('5b598d0233868e37b02e202e'),
 ObjectId('5b598d0233868e37b02e202f'),
 ObjectId('5b598d0233868e37b02e2030'),
 ObjectId('5b598d0233868e37b02e2031'),
 ObjectId('5b598d0233868e37b02e2032'),
 ObjectId('5b598d0233868e37b02e2033'),
 ObjectId('5b598d0233868e37b02e2034'),
 ObjectId('5b598d0233868e37b02e2035'),
 ObjectId('5b598d0233868e37b02e2036'),
 ObjectId('5b598d0233868e37b02e2037'),
 ObjectId('5b598d0233868e37b02e2038'),
 ObjectId('5b598d0233868e37b02e2039'),
 ObjectId('5b598d0233868e37b02e203a'),
 ObjectId('5b598d0233868e37b02e203b'),
 ObjectId('5b598d0233868e37b02e203c')]

In [13]:
query = {"rent": {"$lte": 50}}
documents = collection.find(query)
documents

cursor에 담겨있다.

In [14]:
datas = list(documents)
len(datas)

57

In [19]:
df = pd.DataFrame(datas)
df.tail()

,_floor,_id,address1,address2,address3,agent_address1,agent_comment,agent_email,agent_lat,agent_lng,...,updated_at2,user_email,user_has_no_penalty,user_has_penalty,user_intro,user_mobile,user_name,user_no,user_phone,view_count
52,2층,5b598d0233868e37b02e2037,서울시 구로구 궁동,278-4,None,경기도 광명시 도덕로 39 403호,,mannic@naver.com,37.468781,126.852193,...,2018-07-20,mannic@naver.com,True,False,,0507-1280-8605,대표공인중개사 고봉준,964324,0507-1280-8605,48
53,6층,5b598d0233868e37b02e2039,경기도 부천시 괴안동,130-98,None,경기도 부천시 역곡동 76-6,,jsjw70@hanmail.net,37.486563,126.811177,...,2018-07-21,jsjw70@hanmail.net,True,False,,0507-1281-9909,대표공인중개사 이경숙,187595,0507-1281-9909,52
54,3층,5b598d0233868e37b02e203a,경기도 부천시 역곡동,245-10,None,경기도 부천시 역곡동 76-6,,jsjw70@hanmail.net,37.486563,126.811177,...,2018-07-09,jsjw70@hanmail.net,True,False,,0507-1281-9909,대표공인중개사 이경숙,187595,0507-1281-9909,267
55,4층,5b598d0233868e37b02e203b,서울시 구로구 온수동,47-1,None,서울특별시 구로구 서해안로26길 17,★우리부동산은 오류동역에 위치한 중개사무소로 다양한 물건을 확보하고 있어요★\n\n...,k96302999@naver.com,37.491978,126.842552,...,2018-07-09,juhwan299@nate.com,True,False,안녕하세요! 오류동역2번출구에 위치한 우리공인중개사 사무소입니다~~\n\n오류동 최...,0507-1282-7366,중개보조원 김주환,2007460,0507-1282-7366,475
56,5층,5b598d0233868e37b02e203c,서울시 구로구 항동,16-9,None,서울특별시 구로구 온수동 23-26,,j0793@hanmail.net,37.492191,126.821838,...,2018-07-09,j0793@hanmail.net,True,False,,0507-1281-9750,소속공인중개사 정현,1373368,0507-1281-9750,171

In [20]:
df_selected = df[['_floor','size','deposit','rent']]
df_selected.tail()

   _floor  size  deposit  rent
52     2층  20.0    21000     0
53     6층   8.0      500    45
54     3층   7.0      500    40
55     4층   7.0     2000    30
56     5층  20.0    22000     0

In [23]:
query = {"rent":{"$lte":50}}
# projection
documents = collection.find(query, {"_id":False, "_floor":True,"size":True,"deposit":True, "rent":True})
documents

In [24]:
df2 = pd.DataFrame(list(documents))
df2.tail()

   _floor  deposit  rent  size
52     2층    21000     0  20.0
53     6층      500    45   8.0
54     3층      500    40   7.0
55     4층     2000    30   7.0
56     5층    22000     0  20.0