#### SQLAlchemy
- python에서 사용하는 ORM
    - ORM(Object Relational Mapping)
        - DB 테이블하고 맵핑이 되는 클래스를 선언해줘야 한다.
        - SQL문법을 사용하지 않고 함수형태로 데이터베이스에서 데이터를 가져옵니다.
        - 사용하는 DB를 변경하고 싶을 때는 접속엔진객체의 접속 정보만 바꿔주면 된다.
        - 즉, oracle, mysql, postgress 등 각각 다른 문법을 가진 데이터베이스에 통일된 함수형태로 쿼리를 보내면 각각에 맞게 알아서 번역해줌

In [2]:
from sqlalchemy import *
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [3]:
# DB connect
engine = create_engine("mysql://root:dss8@13.125.237.246/test")
engine

Engine(mysql://root:***@13.125.237.246/test)

연결완료

In [9]:
# user2 table과 맵핑되는 클래스 선언
Base = declarative_base()
class User(Base):
    __tablename__ = 'user2' # 실제 table명과 같은 이름을 써야함.
    
    # user2 table과 같이 변수선언
    user_id = Column(Integer, primary_key=True) 
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
    
    def __repr__(self):
        return "<User {},{},{},{}".format(self.name, self.email, self.age, self.rdate)

In [10]:
# Base 객체에 engine 설정(연결합니다.)
Base.metadata.create_all(engine)

In [12]:
# session (session이 mysql하고 연결합니다.)
session_maker_obj = sessionmaker(bind=engine)
session = session_maker_obj()

In [13]:
# insert one
user = User("juno","rlawnsgh2245@gmail.com","26","2018-07-27")
user

<User juno,rlawnsgh2245@gmail.com,26,2018-07-27

In [14]:
session.add(user)

In [15]:
# insert many
users = [
    User("andy","andy@naver.com","36","2002-07-27"),
    User("alice","alice@gmail.com","28","2016-07-27"),
]
users

[<User andy,andy@naver.com,36,2002-07-27,
 <User alice,alice@gmail.com,28,2016-07-27]

In [16]:
# 순서가 있는 데이터를 넣어줘야함.
# users 데이터를 session안에 넣어줍니다.
session.add_all(users)

In [17]:
# run tranaction
# session에 넣어준 데이터(user, users) mysql로 보내줍니다.
session.commit()

In [18]:
# rollback : session data clear기능
session.rollback()

여러개의 테이블 적용은 각각의 클래스를 만들어줘야 한다.

#### Select

In [19]:
# all
results = session.query(User).all()
results

[<User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User peter,peter@daum.net,30,2018-07-13 02:31:48,
 <User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00,
 <User andy,andy@naver.com,36,2002-07-27 00:00:00,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00]

DB에는 없어도 session에 들어있다면, 즉 commit전 상태라도 결과값으로 나온다,

In [22]:
# filter
# where절 느낌
results = session.query(User).filter(User.name == "andy")
list(results)

[<User andy,andy@naver.com,36,2002-07-27 00:00:00]

In [23]:
results = session.query(User).filter(User.name != "andy")
list(results)

[<User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User peter,peter@daum.net,30,2018-07-13 02:31:48,
 <User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00]

In [24]:
results = session.query(User).filter(User.age > "26")
list(results)

[<User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User peter,peter@daum.net,30,2018-07-13 02:31:48,
 <User andy,andy@naver.com,36,2002-07-27 00:00:00,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00]

In [25]:
# filter - like
results = session.query(User).filter(User.email.like("%gmail%") )
list(results)

[<User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00]

In [26]:
# filter - in
results = session.query(User).filter(User.name.in_(["jin","andy"]) )
list(results)

[<User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User andy,andy@naver.com,36,2002-07-27 00:00:00]

In [27]:
# filter - (~) not
results = session.query(User).filter(~User.name.in_(["jin","andy"]) )
list(results)

[<User peter,peter@daum.net,30,2018-07-13 02:31:48,
 <User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00]

In [28]:
# filter - or_, and_ - sqlalchemy에 있는 function
results = session.query(User).filter(or_(User.name == "jin", User.age == 26))
list(results)

[<User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00]

In [29]:
results = session.query(User).filter(and_(User.age < 27, User.name == "juno"))
list(results)

[<User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00]

In [31]:
# order_by
results = session.query(User).order_by(User.age.asc())
list(results)

[<User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00,
 <User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User peter,peter@daum.net,30,2018-07-13 02:31:48,
 <User andy,andy@naver.com,36,2002-07-27 00:00:00]

In [32]:
results = session.query(User).order_by(User.age.desc())
list(results)

[<User andy,andy@naver.com,36,2002-07-27 00:00:00,
 <User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User peter,peter@daum.net,30,2018-07-13 02:31:48,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00,
 <User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00]

In [35]:
# count
results = session.query(User).count()
results

5

In [36]:
# update
juno = session.query(User).filter(User.name == "juno").one()
juno

<User juno,rlawnsgh2245@gmail.com,26,2018-07-27 00:00:00

In [37]:
juno.age = 20

In [38]:
juno

<User juno,rlawnsgh2245@gmail.com,20,2018-07-27 00:00:00

In [39]:
list(session.query(User))

[<User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User peter,peter@daum.net,30,2018-07-13 02:31:48,
 <User juno,rlawnsgh2245@gmail.com,20,2018-07-27 00:00:00,
 <User andy,andy@naver.com,36,2002-07-27 00:00:00,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00]

In [40]:
session.commit()

In [41]:
# delete
session.query(User).filter(User.name == "jin").delete

In [42]:
list(session.query(User))

[<User jin,pdj@gmail.com,30,2018-07-13 02:31:48,
 <User peter,peter@daum.net,30,2018-07-13 02:31:48,
 <User juno,rlawnsgh2245@gmail.com,20,2018-07-27 02:16:10,
 <User andy,andy@naver.com,36,2002-07-27 00:00:00,
 <User alice,alice@gmail.com,28,2016-07-27 00:00:00]

In [43]:
session.commit()

In [44]:
session.rollback()

In [45]:
session.close()