In [1]:
N = 10
K = 4
theta_0 = np.ones(K)/K
np.random.seed(0)
x = np.random.choice(K, N, p=theta_0)
n = np.bincount(x, minlength=K)
n

array([0, 3, 5, 2], dtype=int64)

In [3]:
n = [10,0,0,0,0,0]
sp.stats.chisquare(n)

Power_divergenceResult(statistic=49.99999999999999, pvalue=1.3857973367009622e-09)

In [4]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.pivot_table(index="sex", columns="day", aggfunc="size")

day     Thur  Fri  Sat  Sun
sex
Male      30   10   59   58
Female    32    9   28   18

In [5]:
obs = np.array([[30,10,59,58], [32,9,28,18]])
sp.stats.chi2_contingency(obs)

(13.22200137240661,
 0.004180302092822257,
 3,
 array([[39.89344262, 12.22540984, 55.9795082 , 48.90163934],
        [22.10655738,  6.77459016, 31.0204918 , 27.09836066]]))